.hcalendarbox{
    display: none;
}

.hcalendarbox td {
    text-align: center;
    cursor: pointer;
    padding: 5px;
}

.ngaylich:hover {
    background: #E1F5FE !important;
}

.hcalendarbox .dl {
    font-size: 15px;
    word-break: keep-all;
}

.hcalendarbox .al {
    font-size: 10px;
    text-align: right;
    display: block;
    word-break: keep-all;
}

.thutoday {
    color: #004D40;
    font-size:20px;
}

.daytoday {
    font-size: 40px;
    font-weight: bold;
    color: #004D40;
}

.todayal {
    font-size: 11px;
    color: #880E4F;
}

.todayle {
    font-size: 11px;
    color: #1976D2;
}

.indexNgay7 {
    background: #FFEBEE !important;
    color: red !important;
}

.lichThu {
    background: #B2EBF2;
    font-size: 11px;
}

.chonlich {
    background: #880E4F;
    color: #FFF;
}

.todaybox {
    background: #FFF;
}
.todaybox p {
    margin-bottom: 8px;
}

.ngaylich {
    background: #FFFDE7;
}

.istoday {
    font-weight: bold;
    color: #880E4F;
}

.othermonth {
    color: darkgray;
}