#video {
    .list-videos {
        background-color: #dee2e6;
        padding: 15px;

        .figure {
            width: calc((100% - 60px)/4);
            margin-right: 20px;
            margin-bottom: 20px;
            vertical-align: top;
            cursor: pointer;

            &:nth-child(4n) {
                margin-right: 0;
            }

            .img-video {
                display: block;
                height: 120px;
            }
        }

        .figure-caption {
            color: #000000;

            .title {
                font-size: 14px;

                img {
                    width: 10%;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #video {
        .row {
            .col-3,
            .col-9 {
                max-width: 100%;
                flex: unset;
            }
        }

        .border {
            margin: 10px 0 !important;
        }

        .aside {
            .menu {
                font-size: 12px;

                li {
                    margin-bottom: 6px;

                    img {
                        width: 6%;
                        margin-right: 6px;
                    }

                    a {
                        display: block;
                        padding: 2px;
                    }
                }
            }

            .form {
                font-size: 12px;
                
                #email {
                    margin-bottom: 8px !important;
                    padding: 4px;
                }

                .btn {
                    padding: 4px 12px;
                    font-size: 12px;
                }
            }

            .logo {
                font-size: 12px;
                img {
                    width: 25%;
                }

                .title {
                    font-size: 13px;
                }
            }
        }

        .list-videos {
            margin-top: 20px;
            padding: 10px;
            font-size: 12px;

            .figure {
                width: calc((100% - 10px)/2);
                margin-right: 10px;
                margin-bottom: 20px;

                &:nth-child(2n),
                &:nth-child(4n) {
                    margin-right: 0;
                }

                .img-video {
                    height: 100px;
                }
            }

            .figure-caption {
                .title {
                    font-size: 13px;
                }
            }
        }
    }
}