.new-care {
    .list-new {
        a {
            color: #000 !important;

            &:hover {
                text-decoration: none;
                color: #00d9ff !important;
            }
        }
    }
}