/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
public/mix-manifest.json
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/css/*
/public/js/*
/public/images/logo*
/public/images/ad_logo*
composer.lock
package-lock.json
/public/fonts/vendor
src
Image
