#news {
    .bg-blue { background-color: #00d9ff; }
    .bg-sliver { background-color: #cdcdcd; }
    .bg-red { background-color: #ed1c24; }
    .bg-green { background-color: #1ced38; }
    .bg-orange { background-color: #ff9900; }
    .bg-pink { background-color: #ed1c96; }
    .bg-grow { background-color: #57070793; }

    .clr-blue { color: #00d9ff; }
    .clr-orange { color: #ff9900; }

    .tit-common {
        border-bottom: 2px solid #000000;
        font-size: 14px;
        padding-bottom: 4px;
        text-transform: uppercase;

        &.color {
            color: #1bd7f0;
        }

        img {
            width: 16px;
            vertical-align: top;
        }

        .view-all {
            float: right;
            text-transform: capitalize;
        }
    }

    .row-item-3 {
        color: #000000;
        font-size: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        padding-bottom: 4px;

        span {
            font-size: 13px;
            display: inline-block;
            vertical-align: middle;

            &:first-child {
                width: 15%;
            }

            &:nth-child(2n) {
                width: 50%;
                padding: 0 5px;

                img {
                    width: 11%;
                }
            }

            &:last-child {
                width: 35%;
                text-align: right;

                i {
                    background-color: #f4f4f4;
                    padding: 2px 10px;
                    border-radius: 6px;
                    font-size: 12px;
                }
            }

            i {
                font-style: normal;
            }

            img {
                width: 16%;
            }

            .status {
                color: #ffffff;
                padding: 2px 6px;
                font-size: 10px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }

    .row-item-2 {
        color: #000000;
        display: block;
        font-size: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        padding: 5px 0;

        span {
            font-size: 13px;
            display: inline-block;
            vertical-align: middle;

            &:first-child {
                width: 65%;
            }

            &:last-child {
                width: 35%;
                text-align: right;

                i {
                    background-color: #f4f4f4;
                    padding: 2px 10px;
                    border-radius: 6px;
                    font-size: 12px;
                    font-style: normal;
                }

                img {
                    width: 16%;
                }
            }
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.03);
        }
    }

    .info-post {
        img {
            width: 26px;
            border-radius: 50%;
        }

        .name {
            color: #1bd7f0;
        }
    }

    .tit-bg-common {
        font-size: 0;

        span {
            width: 20%;
            display: inline-block;
            margin-top: 4px;
            vertical-align: top;

            i {
                color: #ffffff;
                text-transform: uppercase;
                font-size: 10px;
                font-style: normal;
                font-weight: 700;
                padding: 2px 6px;
            }
        }

        a {
            font-size: 16px;
            color: #000000;
            width: 80%;
            display: inline-block;
            padding-left: 6px;
        }
    }

    a {
       color: #1bd7f0;
    }

    .name-post {
        color: #cdcdcd;
    }

    .notication {
        .box-social {
            .list-icon {
                font-size: 0;

                a {
                    display: inline-block;
                    width: calc(100% / 5);
                }
            }

            .nav-tabs {
                 .nav-link {
                    color: #000;
                }
            }
        }

        .box-care {
            #email {
                background-color: #CCCCCC;
                padding: 6px;
                border-radius: 4px;
                width: 100%;
                outline: 0;
            }

            .btn {
                background-color: #ED1C24;
                color: #ffffff;
                padding: 4px 14px;
                font-weight: bold;
            }

            .text-download {
                color: #ff0000;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                vertical-align: middle;
            }
        }
    }

    .highlights {
        .tit-highlights {
            border-top: 3px solid #ed1c24;
            padding-top: 4px;
            
            span {
                background-color: #ed1c24;
                color: #ffffff;
                font-size: 12px;
                text-transform: uppercase;
                padding: 6px 30px;
                vertical-align: top;
            }
        }

        .say-gods {
            .col-7 {
                .tit-bg-common {
                    span {
                        width: 14%;
                        i {
                            padding: 2px 12px;
                        }
                    }

                    a {
                        width: 86%;
                    }
                }

                .row-item-3 {
                    color: #000000;
                    border-bottom-style: dashed;

                    span {
                        font-size: 14px;

                        &:first-child {
                            width: 18%;
                        }

                        &:nth-child(2n) {
                            width: 60%;
                        }

                        &:last-child {
                            width: 22%;
                        }
                    }
                }
            }
        }

        .new {
            .tit-bg-common {
                span {
                    width: 12%;
                }

                a {
                    width: 88%;
                    font-size: 14px;
                }
            }

            .row-item-3 {
                color: #000000;
                border-bottom-style: dashed;
            }
        }

        .new-diocese {
            .tit-bg-common {
                a {
                    width: 100%;
                    padding-left: 0;
                }
            }

            .col-r {
                .tit-bg-common {
                    a {
                        font-size: 14px;
                    }
                }
            }
        }

        .new-document {
            .tit-bg-common {
                a {
                    width: 100%;
                    padding-left: 0;
                    font-size: 14px;
                }
            }
        }

        .category {
            a {
                color: #ffffff;
                height: 80px;
                font-weight: 600;
                text-transform: uppercase;
                padding: 20px;
                text-align: center;

                &:hover {
                    text-decoration: none;
                    opacity: .7;
                }
            }
        }

        .info {
            .row-item-3 {
                border-bottom-style: dashed;

                span {
                    &:nth-child(2n) {
                        width: 60%;
                    }

                    &:last-child {
                        width: 25%;
                    }
                }
            }
        }

        .calendar {
            .title {
                background-color: #000;
                padding: 12px 15px;
                color: #fff;
                text-transform: uppercase;
                font-size: 12px;
            }

            .b-calendar-inner {
                width: 100% !important;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #news {
        .row {
            .col-mobile {
                max-width: 100%;
                flex: unset;
            }
        }

        .notication {
            .description {
                h4 {
                    font-size: 18px;
                }
            }

            .box-social {
                margin-top: 14px;
            }
        }
    }
}