/* 
  Giáo phận phú cường: Module special banners main css
*/
#special-module {
    .tit-highlights {
        border-top: 3px solid #ed1c24;
        padding-top: 4px;
        
        span {
            background-color: #ed1c24;
            color: #ffffff;
            font-size: 12px;
            text-transform: uppercase;
            padding: 6px 30px;
            vertical-align: top;
        }
    }
}