/* 
  Giáo phận phú cường: Page videos main css
*/
#video {
    .aside {
        .menu {
            list-style-type: none;
            padding-left: 0;

            li {
                margin-bottom: 8px;
                cursor: pointer;

                &:hover,
                &.active {
                    background-color: #dee2e6;
                }

                img {
                    width: 8%;
                    margin-right: 10px;
                }

                a {
                    color: #000000;
                    text-decoration: none;
                    display: block;
                    padding: 5px;
                }
            }
        }

        .form {
            #email {
                background-color: #CCCCCC;
                padding: 8px;
                border-radius: 4px;
                width: 100%;
                outline: 0;
            }

            .btn {
                background-color: #ED1C24;
                color: #ffffff;
                padding: 7px 20px;
                font-weight: bold;
            }

            .txt {
                color: #CCCCCC;
            }
        }

        .logo {
            font-size: 13px;
            text-align: center;

            img {
                width: 30%;
            }

            .title {
                text-transform: uppercase;
                font-size: 15px;
            }
        }
    }

    .list-videos {
        background-color: #dee2e6;
        padding: 15px;

        .figure {
            width: calc((100% - 60px)/4);
            margin-right: 20px;
            margin-bottom: 20px;
            vertical-align: top;
            cursor: pointer;

            &:nth-child(4n) {
                margin-right: 0;
            }

            .img-video {
                display: block;
                height: 120px;
            }
        }

        .figure-caption {
            color: #000000;

            .title {
                font-size: 14px;

                img {
                    width: 10%;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #video {
        .border {
            margin: 10px 0 !important;
        }

        .aside {
            .menu {
                font-size: 12px;

                li {
                    margin-bottom: 6px;

                    img {
                        width: 6%;
                        margin-right: 6px;
                    }

                    a {
                        display: block;
                        padding: 2px;
                    }
                }
            }

            .form {
                font-size: 12px;
                
                #email {
                    margin-bottom: 8px !important;
                    padding: 4px;
                }

                .btn {
                    padding: 4px 12px;
                    font-size: 12px;
                }
            }

            .logo {
                font-size: 12px;
                img {
                    width: 25%;
                }

                .title {
                    font-size: 13px;
                }
            }
        }

        .list-videos {
            margin-top: 20px;
            padding: 10px;
            font-size: 12px;

            .figure {
                width: calc((100% - 10px)/2);
                margin-right: 10px;
                margin-bottom: 20px;

                &:nth-child(2n),
                &:nth-child(4n) {
                    margin-right: 0;
                }

                .img-video {
                    height: 100px;
                }
            }

            .figure-caption {
                .title {
                    font-size: 13px;
                }
            }
        }
    }
}