/* 
  Giáo phận phú cường: Module category icon side bars main css
*/
.category {
    a {
        color: #ffffff;
        height: 80px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 20px;
        text-align: center;

        &:hover {
            text-decoration: none;
            opacity: .7;
        }
    }
}