.timeline {
    &:before {
        background-color: #ED1C24;
    }
}
.card-header {
    &:first-child{
        text-align: left !important;
    }
}
#news {
    .info-post {
        img {
            width: 26px;
            border-radius: 50%;
        }

        .name {
            color: #1bd7f0;
        }
    }

    .name-post {
        color: #cdcdcd;
    }

    .box-social {
        .list-icon {
            font-size: 0;

            a {
                display: inline-block;
                width: calc(100% / 5);
            }

            .nav-tabs {
                 .nav-link {
                    color: #000;
                }
            }
        }
    }

    .box-care {
        #email {
            background-color: #CCCCCC;
            padding: 6px;
            border-radius: 4px;
            width: 100%;
            outline: 0;
        }

        .btn {
            background-color: #ED1C24;
            color: #ffffff;
            padding: 4px 14px;
            font-weight: bold;
        }

        .text-download {
            color: #ff0000;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            vertical-align: middle;
        }
    }

    .highlights {
        .say-gods {
            .col-7 {
                .tit-bg-common {
                    span {
                        width: 14%;
                        i {
                            padding: 2px 12px;
                        }
                    }

                    a {
                        width: 86%;
                    }
                }

                .row-item-3 {
                    color: #000000;
                    border-bottom-style: dashed;

                    span {
                        font-size: 14px;

                        &:first-child {
                            width: 18%;
                        }

                        &:nth-child(2n) {
                            width: 60%;
                        }

                        &:last-child {
                            width: 22%;
                        }
                    }
                }
            }
        }

        .new {
            .tit-bg-common {
                span {
                    width: 12%;
                }

                a {
                    width: 88%;
                    font-size: 14px;
                }
            }

            .row-item-3 {
                color: #000000;
                border-bottom-style: dashed;
            }
        }

        .new-diocese {
            .tit-bg-common {
                a {
                    width: 100%;
                    padding-left: 0;
                }
            }

            .col-r {
                .tit-bg-common {
                    a {
                        font-size: 14px;
                    }
                }
            }
        }

        .new-document {
            .tit-bg-common {
                a {
                    width: 100%;
                    padding-left: 0;
                    font-size: 14px;
                }
            }
        }
    }

    .header-linh-muc {
        .line-header {
            background-color: #bc0000c7;
            height: 22px;
        }

        .box-header {
            background-color: #dc3545 !important;
            padding: 10px 40px;

            .img-header {
                width: 140px;
                height: 140px;
                margin: auto;
            }

            .text-header {
                color: #ffffff;
                margin: auto;
                
                h2 {
                    text-transform: capitalize;
                    font-size: 55px;
                }

                h5 {
                    text-transform: uppercase;
                    color: #00c4ffbf;
                    font-size: 1.8rem;
                }
            }
        }
    }

    .detail-linh-muc {
        .bi-tich {
            background-color: #dc3545 !important;
            border-radius: 24px;

            a {
                font-size: 16px;
                margin-bottom: 20px;
            }
        }

        .level-text {
            p {
                background-color: rgb(35, 84, 164);
                padding: 2px 10px;
                color: #ffffff;
            }
        }

        .avatar-img {
            width: 250px;
            margin: auto;
        }

        .maxim {
            .tit-maxim {
                border: 4px solid red;
                display: inline-block;
                margin: 20px auto;
                padding: 15px 70px;
                font-size: 2.7rem;
                border-radius: 35px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #news {
        .notication {
            .description {
                h4 {
                    font-size: 18px;
                }
            }

            .box-social {
                margin-top: 14px;
            }
        }

        .header-linh-muc {
            .line-header {
                height: 18px;
            }
    
            .box-header {
                padding: 10px 20px;
    
                .img-header {
                    width: 120px;
                    height: 120px;
                }
    
                .text-header {
                    margin-top: 10px;

                    h2 {
                        font-size: 22px;
                    }

                    h5 {
                        font-size: 16px;
                    }
                }
            }
        }
    
        .detail-linh-muc {
            .bi-tich {
                border-radius: 20px;

                h4 {
                    font-size: 16px;
                }
    
                a {
                    font-size: 14px;
                    margin-bottom: 15px;
                }
            }
    
            .level-text {
                p {
                    padding: 2px 10px;
                    margin-bottom: 10px;
                }
            }
    
            .avatar-img {
                width: 140px;
            }

            .info-personal {
                h4 {
                    font-size: 16px;
                }
            }
    
            .maxim {
                .tit-maxim {
                    font-size: 16px;
                    margin: 10px auto;
                    padding: 10px 20px;
                    border-radius: 18px;
                }
            }
        }
    }
}