/* 
  Giáo phận phú cường: Module van kiens main css
*/
.info {
    .row-item-3 {
        border-bottom-style: dashed;

        span {
            &:nth-child(2n) {
                width: 60%;
            }

            &:last-child {
                width: 25%;
            }
        }
    }
}