#header {
    background-color: /*#ED1C24*/#2354a4;

    .header-news {
        background-color: /*#C1272D*/#0071bc;
        color: #ffffff;
        font-size: 0;

        .breaking-news {
            width: 80%;
            font-size: 14px;
            padding: 0px 15px;

            .title-breaking-news {
                font-size: 14px;
                margin: 0 60px 0 0;
                text-transform: uppercase;
            }

            .txt-breaking-news {
                margin-bottom: 0;
            }
        }

        .subscribe {
            width: 20%;
            font-size: 14px;
            background-color: /*#ED1C24*/#3aacda;
            text-align: center;

            .btn {
                color: #ffffff;
                text-transform: uppercase;
                font-size: 14px;
                width: 100%;
            }
        }
    }

    .header-image {
        font-size: 0;
        padding: 15px 0;

        .logo {
            width: 40%;

            img {
                width: 62%;
            }

            .col-9 {
                margin: auto;
                padding-left: 0;
                margin-left: -10px;
                margin-bottom: 0;

                h2 {
                    color: #ffffff;
                    text-transform: uppercase;
                    font-size: 26px;
                }

                h4 {
                    color: #FFFF00;
                    text-transform: uppercase;
                    font-size: 18px;
                }
            }
        }

        .banner-image {
            width: 60%;
            height: 80px;
            vertical-align: bottom;
        }
    }

    &.header-search {
        background-color: #124cb1;

        .container {
            position: relative;
        }

        .search {
            font-size: 14px;

            .banner-search {
                position: absolute;
                top: 35px;
                right: 100px;

                label {
                    color: #ffffff;
                    margin-right: 10px;
                }

                .icon-search {
                    position: relative;
                    display: inline-block;

                    .search {
                        position: absolute;
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                    }

                    input {
                        background-color: #ffffff;
                        padding: 5px 5px 5px 28px;
                        border-radius: 4px;
                        width: 260px;
                        outline: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    #header {
        .header-news {
            .breaking-news {
                font-size: 12px;

                .title-breaking-news {
                    font-size: 12px;
                    margin: 0 40px 0 0;
                }
            }

            .subscribe {
                font-size: 12px;

                .btn {
                    font-size: 12px;
                }
            }
        }

        .header-image {
            padding: 10px 0;

            .logo {
                .col-9 {
                    h2 {
                        font-size: 22px;
                    }
    
                    h4 {
                        font-size: 16px;
                    }
                }
            }

            .banner-image {
                height: 80px;
            }
        }

        &.header-search {
            .search {
                font-size: 12px;

                .banner-search {
                    top: 18px;
                    right: 80px;

                    label {
                        margin-right: 8px;
                    }

                    .icon-search {
                        .search {
                            left: 8px;
                        }

                        input {
                            padding: 5px 5px 5px 22px;
                            width: 240px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #header {
        .header-news {
            .breaking-news {
                font-size: 12px;

                .title-breaking-news {
                    font-size: 12px;
                    margin: 0 40px 0 0;
                }
            }

            .subscribe {
                font-size: 12px;

                .btn {
                    font-size: 12px;
                }
            }
        }

        .header-image {
            padding: 10px 0;

            .logo {
                .col-9 {
                    h2 {
                        font-size: 20px;
                    }
    
                    h4 {
                        font-size: 14px;
                    }
                }
            }

            .banner-image {
                height: 80px;
            }
        }

        &.header-search {
            .container {
                position: static;
            }

            .search {
                .banner-search {
                    position: static;

                    label {
                        margin-right: 4px;
                    }

                    .icon-search {
                        .search {
                            left: 8px;
                        }

                        input {
                            padding: 5px 5px 5px 22px;
                            width: 240px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #header {
        .header-news {
            .breaking-news {
                width: 100%;
                font-size: 12px;
                padding: 10px 0;

                .title-breaking-news {
                    font-size: 12px;
                    margin: 0 0 5px;
                }
            }

            .subscribe {
                width: 100%;
                font-size: 12px;
                margin-bottom: 10px;

                .btn {
                    font-size: 12px;
                }
            }
        }

        .header-image {
            .logo {
                width: 100%;
                margin-bottom: 10px;
                text-align: center;
            }

            .banner-image {
                width: 100%;
            }
        }

        &.header-search {
            .search {
                .banner-search {
                    width: 100%;

                    label {
                        margin-right: 0;
                    }

                    .icon-search {
                        display: block;
                        .search {
                            left: 8px;
                        }

                        input {
                            padding: 5px 5px 5px 22px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}